# Dependencies
/node_modules

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Env files
.env*

# Typescript
*.tsbuildinfo
next-env.d.ts
